body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #ffffff, rgb(238, 214, 161));
    padding: 20px;
}

.login-box {
    background: #fff;
    padding: 40px 35px;
    border-radius: 10px;
    width: 350px;
    max-width: 100%;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
}

.input-box label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}


.forgot {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    font-size: 13px;
    color: var(--primary-color);
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.social-login {
    margin: 20px 0 10px;
    font-size: 14px;
    color: #333;

}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eee;
    color: #333;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.signup-text a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
    .login-box {
        width: 100%;
        padding: 30px 20px;
    }

    .login-box h2 {
        font-size: 24px;
    }

    .btn {
        font-size: 15px;
        padding: 10px;
    }

    .social-icons {
        gap: 10px;
    }

    .social-icons a {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
}